/*doc
---
title: Main Style
name: mainstyle
category: Intro
---

# Hallo und willkommen auf der Documentation des Projektes matchit 2.0

blab lablal sd

*/
body{
	padding:0;
	margin:0;
  font-family: sans-serif;
  line-height: 1.5;
  background: #f4f4f4;
}
.site__wrapper{
	width:80%;
	max-width:1000px;
	margin: 90px auto;
	background:#fff;
}

pre{
	white-space: pre-line;
	word-wrap: break-word;
}

.site__header{
	background: #191d20;
	margin:0 auto;
	padding: 55px;
}

.link__home{
	display:block;
	font-size: 24px;
	text-transform: uppercase;
	line-height: 44px;
	padding:0;
	margin:0;
	text-decoration:none;
	font-weight: bold;
	color: #fff;
}

.site-nav{
	list-style: none;

}
.site-nav li{

}
.site-nav a{
	display: block;
	text-decoration:none;
	text-transform:uppercase;
	color: #616666;
}

.debug{
	background: #98FB98;
	color: #191d20;
	padding: 20px;

}


.current > a{
	color: magenta;
	font-weight:bold;
}
